. {
    display: flex;
    box-sizing: border-box;
    padding-bottom: 2em;
}

.header-background{
    background-color: #1db954;
    display: flex;
    height: 6em;
}

.title, .title:hover {
    color: white;
    font-weight: bold;
    align-self: center;
    justify-content: center;
    margin-left: .5em;
    text-decoration: none;

}

.buttonContainer{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.loginButton{
    margin-top: 2em;
    font-size: 1em;
    width: 20em;
    height: 5em;

}

.artistBody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.follower-text{
    vertical-align: bottom;
}

.cardBody{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.SearchBar {
  resize: block;
}

.albumHeader{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: auto;
}

.textColumn{
    display:flex;
    flex-flow: column nowrap;
}

.backButton{
    display: flex;
    justify-content:right;
    margin-top: .25em;
}

.cardImg{
    max-width:30%;
    margin-top: .8em;
    height: auto;
    display: flex;
    align-self: center;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
}

#cardContainer{
    flex-direction: column;
    flex-grow: inherit;
    flex-wrap: wrap;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0 .2em .95em;
}

.albumClass{
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

@media only screen and (max-width: 780px) {
    .card{
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        width: auto;
        height: auto;
    }
    #card-bottom{
        justify-self: center;
        align-self: center;
        border: 0;
    }
}

@media only screen and (min-width: 780px) {
    #cardContainer{
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card{
        flex-direction: column;
        max-width: 16.85em;
    }
    .cardImg{
        max-width: 100%;
        height: 17em;
    }

}

/* -- Better mobile responsive -- */
@media only screen and (max-width: 550px) {
    #cardContainer .card {
        flex-direction: column;
    }
    #cardContainer .card .cardImg {
        max-width: 65%;
        max-height: 65%;
    }
    #cardContainer .card .artistBody {
        text-align: center;
    }
}

